#calcInput {
    height: 26px;
    width: 432px;
    border-radius: 10px;
    font-size: 32px;
    padding: 42px 34px;
    background-color: var(--Very-dark-desaturated-blue-screen);
    border: none;
    text-align: right;
    color: var(--White);
    font-family: Spartan;
    /* cursor: pointer; */
}

input:focus{
   outline: none;
   background-color: var(--Very-dark-desaturated-blue);
}