#calculator {
    width: 446px;
    height: 372px;
    background-color: var(--Very-dark-desaturated);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 27px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    width: 90px;
    height: 53px;
    background-color: var(--Light-grayish-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Very-dark-grayish-blue);
    border-radius: 10px;
    font-size: 28px;
    font-family: Spartan;
    border: none;
    box-shadow: 0px 5px 0px var(--Grayish-orange);
    padding-top: 5px;
}

#eql {
    width: 200px;
    background-color: var(--Red);
    color: var(--White);
    box-shadow: 0px 5px 0px var(--Dark-red);
}
#reset {
    width: 200px;
    background-color: var(--Desaturated-dark-blue);
    color: var(--White);
    font-size: 20px;
    box-shadow: 0px 5px var(--Desaturated-dark-blue-shadow);
}

#delete {
    color: var(--White);
    background-color: var(--Desaturated-dark-blue);
    font-size: 20px;
    box-shadow: 0px 5px 0px hsl(224, 28%, 35%);
}