:root{
    /* 
        ### Theme 1
        
        #### Backgrounds */
        
        --Very-dark-desaturated-blue : hsl(222, 26%, 31%);
        --Very-dark-desaturated : hsl(223, 31%, 20%);
        --Very-dark-desaturated-blue-screen: hsl(224, 36%, 15%);
        
        /* #### Keys */
        
        --Desaturated-dark-blue: hsl(225, 21%, 49%);
        --Desaturated-dark-blue-shadow: hsl(224, 28%, 35%);
        
        --Red: hsl(6, 63%, 50%);
        --Dark-red: hsl(6, 70%, 34%);
        
        --Light-grayish-orange: hsl(30, 25%, 89%);
        --Grayish-orange: hsl(28, 16%, 65%);
        
        /* #### Text */
        
        --Very-dark-grayish-blue: hsl(221, 14%, 31%);
        --White: white;
        
    
    }

body {
    background-color: var(--Very-dark-desaturated-blue);
}

#calcHeader {
    color:  var(--White);
}
#calcInput {
    background-color: var(--Very-dark-desaturated-blue-screen);
    color: var(--White);
}

input:focus{
   background-color: var(--Very-dark-desaturated-blue);
}

#calculator {
    background-color: var(--Very-dark-desaturated);
}


.button {
    background-color: var(--Light-grayish-orange);
    color: var(--Very-dark-grayish-blue);
    box-shadow: 0px 5px 0px var(--Grayish-orange);
}

#eql {
    background-color: var(--Red);
    color: var(--White);
    box-shadow: 0px 5px 0px var(--Dark-red);
}
#reset {
    background-color: var(--Desaturated-dark-blue);
    color: var(--White);
    box-shadow: 0px 5px var(--Desaturated-dark-blue-shadow);
}

#delete {
    color: var(--White);
    background-color: var(--Desaturated-dark-blue);
    box-shadow: 0px 5px 0px hsl(224, 28%, 35%);
}



