#calcInput {
    height: 26px;
    width: 432px;
    border-radius: 10px;
    font-size: 32px;
    padding: 42px 34px;
    background-color: var(--Very-light-gray);
    border: none;
    text-align: right;
    color: var(--Very-dark-grayish-yellow);
    font-family: Spartan;
    /* transition: focus background-color 0.2s; */
    /* cursor: pointer; */
}

input:focus{
   outline: none;
   background-color: var(--Grayish-red);
}