#calculator {
    width: 446px;
    height: 372px;
    background-color: var(--Very-dark-violet);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 27px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    width: 90px;
    height: 53px;
    background-color: var(--Very-dark-violet-key);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Light-yellow);
    border-radius: 10px;
    font-size: 28px;
    font-family: Spartan;
    border: none;
    box-shadow: 0px 5px 0px var(--Dark-magenta);
    padding-top: 5px;
}

#eql {
    width: 200px;
    background-color: var(--Pure-cyan);
    color: var(--Very-dark-blue);
    box-shadow: 0px 5px 0px var(--Soft-cyan);
}
#reset {
    width: 200px;
    background-color: var(--Dark-violet);
    color: white;
    font-size: 20px;
    box-shadow: 0px 5px var(--Vivid-magenta);
}

#delete {
    color: white;
    background-color: var(--Dark-violet);
    font-size: 20px;
    box-shadow: 0px 5px 0px hsl(224, 28%, 35%);
}