@import url(themeToggler.css);

#calcHeader {
    color:  var(--Light-yellow);
    width: inherit;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    font-family: Spartan;
}





