:root{

    /* ### Theme 3 */
    
    /* #### Backgrounds */
    
    --Very-dark-violet : hsl(268, 75%, 9%);
    --Very-dark-violet-screen: hsl(268, 71%, 12%);
    
    /* #### Keys */
    
    --Dark-violet: hsl(281, 89%, 26%);
    --Vivid-magenta: hsl(285, 91%, 52%);
    
    --Pure-cyan : hsl(176, 100%, 44%);
    --Soft-cyan : hsl(177, 92%, 70%);
    
    --Very-dark-violet-key: hsl(268, 47%, 21%);
    --Dark-magenta : hsl(290, 70%, 36%);
    
    /* #### Text */
    
    --Light-yellow: hsl(52, 100%, 62%);
    --Very-dark-blue: hsl(198, 20%, 13%);
    --White: hsl(0, 0, 100%);


}


body {

    background-color: var(--Very-dark-violet-screen);

}


#calcHeader {
    color:  var(--Light-yellow);

}

#calcInput {

    background-color: var(--Very-dark-violet);

    color: var(--Light-yellow);

}

input:focus{
   background-color: var(--Very-dark-violet);
}


#calculator {

    background-color: var(--Very-dark-violet);

}


.button {

    background-color: var(--Very-dark-violet-key);

    color: var(--Light-yellow);

    box-shadow: 0px 5px 0px var(--Dark-magenta);

}

#eql {
    background-color: var(--Pure-cyan);
    color: var(--Very-dark-blue);
    box-shadow: 0px 5px 0px var(--Soft-cyan);
}
#reset {
    background-color: var(--Dark-violet);
    color: white;
    box-shadow: 0px 5px var(--Vivid-magenta);
}

#delete {
    color: white;
    background-color: var(--Dark-violet);
    box-shadow: 0px 5px 0px var(--Vivid-magenta);
}


