:root{

    /* ### Theme 3 */
    
    /* #### Backgrounds */
    
    --Very-dark-violet : hsl(268, 75%, 9%);
    --Very-dark-violet-screen: hsl(268, 71%, 12%);
    
    /* #### Keys */
    
    --Dark-violet: hsl(281, 89%, 26%);
    --Vivid-magenta: hsl(285, 91%, 52%);
    
    --Pure-cyan : hsl(176, 100%, 44%);
    --Soft-cyan : hsl(177, 92%, 70%);
    
    --Very-dark-violet-key: hsl(268, 47%, 21%);
    --Dark-magenta : hsl(290, 70%, 36%);
    
    /* #### Text */
    
    --Light-yellow: hsl(52, 100%, 62%);
    --Very-dark-blue: hsl(198, 20%, 13%);
    --White: hsl(0, 0, 100%);


}

